.navbar {
  width: 100%;
  height: 60px;
  background: #e4e4e4;
  color: #020202;

  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 0 20px;
  box-sizing: border-box;
  position: fixed;  /* hace que quede arriba siempre */
  top: 0;
  left: 0;
  z-index: 1000;

  /* Sombrado profesional */
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.12);
}

.menu {
  list-style: none;
  display: flex;
  gap: 20px;
}

.menu li {
  cursor: pointer;
  font-size: 14px;
  transition: 0.2s;
}

.menu li:hover {
  color: #0078ff;
  transform: translateY(-1px);
}
