
services:
  angular:
    container_name: efact-angular-dev
    build:
      context: .
      dockerfile: Dockerfile.dev
    ports:
      - "4200:4200"
    volumes:
      - .:/app
      - /app/node_modules
    restart: unless-stopped
